.Taskbar {
    position: fixed;
    top: 0;
    left: 0;
}

.name_logo {
    padding: 1em;
    display: inline-block;
}

.home_button {
    padding: 1em;
    display: inline-block;
}

.stats_button {
    padding: 1em;
    display: inline-block;
}

.donate_button {
    padding: 1em;
    display: inline-block;
}